@page "/counter"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />
<AuthorizeView>
    <Authorized>
        <h4>The user (@context.User.FindFirst(ClaimTypes.Name).Value) is Authorized.</h4>
    </Authorized>
    <NotAuthorized>
        <h4>The User is NOT Authorized!</h4>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
