@page "/posts"
@inject IPostsService postsService
@inject IConfiguration config
@attribute [Authorize]

<div class="container">
    <h2>Today's Posts!</h2>
    @*<!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="PostModal">
        New Post
    </button>
    <br />
    <br />*@
    <button class="btn btn-secondary">Add new</button>
    <br />
    <br />
    
    @foreach(var item in posts)
    {
        <div class="card">
            <div class="card-header">
                <img src="@image" width="50px" height="50px" />
                <b>@item.Username</b>
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.body</h5>
            </div>
        </div>
        <br />
    }
</div>

@*<PostModal Title="Hello from Blazor">
    <ModalBody>
        <h4>is it nice?</h4>
        <p>aaaaaaaaaaaaaaaaaaaaa</p>
    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary">Close Modal</button>
    </ModalFooter>
</PostModal>*@

@code {
    List<Post> posts = new();
    string image = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            image = config.GetValue<string>("api") + "/images/default.jpg";

            // See all users in console
            posts = await postsService.GetPosts();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
