.profile-picture[b-jzl7sd1hfj] {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

    .profile-picture img[b-jzl7sd1hfj] {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
