body[b-ax47qwroi1] {
    background-color: #f8f9fa;
}

.search-container[b-ax47qwroi1] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

    .search-container h2[b-ax47qwroi1] {
        text-align: center;
        margin-bottom: 20px;
    }

.search-input[b-ax47qwroi1] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button[b-ax47qwroi1] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.search-results[b-ax47qwroi1] {
    margin-top: 20px;
}

.user-card[b-ax47qwroi1] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

    .user-card img[b-ax47qwroi1] {
        max-width: 100px;
        border-radius: 50%;
    }
