/* /Pages/Index.razor.rz.scp.css */
.shadow-dark[b-cpysgq4lpe] {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
/* /Pages/Login.razor.rz.scp.css */
/* /Pages/Posts.razor.rz.scp.css */
.profile-picture[b-jzl7sd1hfj] {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.profile-picture img[b-jzl7sd1hfj] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.load-more-button[b-jzl7sd1hfj] {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px 40px; /* Increase padding to make the button bigger */
    font-size: 1.5rem; /* Increase font size for a larger button text */
    transition: background-color 0.3s ease-in-out;
}

.load-more-button:hover[b-jzl7sd1hfj] {
    background-color: rgba(0, 0, 0, 0.8);
}


/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-749328ixgj] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-749328ixgj] {
    flex: 1;
}

.sidebar[b-749328ixgj] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}
/* Assuming your sidebar has a fixed width */
/*.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;*/ /* Adjust this width as needed */
    /*height: 100vh;
    background-color: #333;*/ /* Sidebar background color */
    /*color: #fff;*/ /* Text color */
    /*padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);*/ /* Optional: Add a shadow */
/*}*/

.top-row[b-749328ixgj] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-749328ixgj]  a, .top-row[b-749328ixgj]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-749328ixgj]  a:hover, .top-row[b-749328ixgj]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-749328ixgj]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-749328ixgj] {
        display: none;
    }

    .top-row.auth[b-749328ixgj] {
        justify-content: space-between;
    }

    .top-row[b-749328ixgj]  a, .top-row[b-749328ixgj]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-749328ixgj] {
        flex-direction: row;
    }

    .sidebar[b-749328ixgj] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-749328ixgj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-749328ixgj]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-749328ixgj], article[b-749328ixgj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-os9xribhcc] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-os9xribhcc] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-os9xribhcc] {
    font-size: 1.1rem;
}

.oi[b-os9xribhcc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-os9xribhcc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-os9xribhcc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-os9xribhcc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-os9xribhcc]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-os9xribhcc]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-os9xribhcc]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-os9xribhcc] {
        display: none;
    }

    .collapse[b-os9xribhcc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
